@import '../node_modules/compass-mixins/lib/compass';
@import './variables.scss';
@import './mixins.scss';

/* font families */
@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Coiny');
/* icons */
@import url("http://weloveiconfonts.com/api/?family=zocial");

/* GENERAL */
.title-principal{ margin-bottom: 7%;}

[class*="zocial-"]:before { 
    font-family: 'zocial', sans-serif; 
    cursor: pointer; 
}

.delete-style{ list-style: none; }
body{ 
    margin: 0;
    font-family: 'Lato', sans-serif;
}
.font-family__coiny{ font-family: 'Coiny', cursive; }

.container-flex{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    padding: 0.5%;
    clear: both;
}

.container-flex__column{
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    padding: 1.5%;
    text-align: center;
}

.clean{ clear: both; }

.container-home{
    text-align: center;
    float: left;
    width: 20vw;
    margin-left:16%;
    margin-bottom: 7%;
}
.container-home>p{ width: 33vw; }

@media (max-width: 640px) {
    .container-home{
        float: none;
        margin-left: 22%;
    }
    .container-home>p{ width: 63vw; }
}

/* banner */
.banners{
    background: $color-banner;
    padding: 100px;
    color: $color-white;
}

/* nav menu */
.container-nav{
    margin-top: 2%;
    margin-bottom: 4%;
}
.nav-item{
    float: left;
    list-style: none;
    margin-left: 15px;
}
.nav-link{
    padding: 15%;
    width: 100%;
    float: left;
    outline: none;
    text-decoration:none;
    color: $color-black;
}

.nav-link:hover{
    color: $color-nav;
    padding: 12%;
    font-size: 120%;
    transition: 1s;
    border-radius: 15%;
    text-align: center;
}

.responsive{
    display: none;
}

/* Button */
.button {
    border-radius: 10px;
    background-color: $color-button;
    color: $color-white;
    font-size: 20px;
    padding: 15px;
    cursor: pointer;
    
  }

  .button:hover {
    background-color: $color-button-hover;
    
  }
    /* button categories */
    .button span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
    }
    
    .button span:after {
        content: '\00bb';
        position: absolute;
        opacity: 0;
        transition: 2s;
    }
    
    .button:hover span { padding-right: 35px; }
    
    .button:hover span:after {
        opacity: 1;
        right: 0;
    }

    /* container categories */
    .container-categories{
        clear: both;
        margin-left: 40vw;
        margin-bottom: 2%;
    }
/* Pagination */
.container-pagination{
    margin-top: 0%;
}

.page-item{
    list-style: none;
    margin-left: 1.5%;
}

@keyframes desplazar_page {
    from {transform: translate(1px);}
    to{transform: translate(-1px);}
}

.active{
    animation-duration: 0.5s;
    animation-name: desplazar_page;
    animation-direction: alternate;
    animation-iteration-count: infinite
}
.page-link{
    text-decoration: none;
    box-shadow: 1px 1px 1px 1px grey;
    padding: 75%;
    border-radius: 5px;
    border: none;
    
}

/* HOME */
.categories{ margin-left: 10px; }
.container-device{ margin-left: 15%; }

    .device-preview__list{ @include box-item(); }
    .device-preview__offers{ @include box-item($color-banner); }
    .device-preview__offers:hover{ @include rotate_360(); }
    .device-preview__list:hover{ 
        animation-duration: 0.5s;
        animation-name: desplazar_box;
        animation-direction: alternate;
        animation-iteration-count: infinite; 
    }
    @keyframes desplazar_box {
        from {transform: translate(5px);}
        to{transform: translate(-5px);}
    }


/* link list device (Link)*/
.preview-link{ 
    text-decoration: none;
    text-align: center;
}
.media-item{
    width: 20vw;
    height: 20vw;
}

/* media query box */
@media (max-width: 900px) {
    .device-preview__list, .device-preview__offers { width: 30vw; }
    .container-categories{ margin-bottom: 5%; }
    .media-item{
        width: 25vw;
        height: 25vw;
    } 
}

@media (max-width: 770px) {
    .device-preview__list,.device-preview__offers { width: 25vw; }
    .container-categories{
        margin-left: 28vw;
        margin-bottom: 5%;
    }
    
}

@media (max-width: 555px) {
    .device-preview__list, .device-preview__offers { width: 60vw; }
    .container-categories{
        margin-left: 24vw;
        margin-bottom: 12%;
    }
    .media-item{
        width: 57vw;
        height: 57vw;
    } 
}

@media (max-width: 418px) {
    .container-categories{
        margin-left: 18vw;
        margin-bottom: 12%;
    }
    .media-item{
        width: 63vw;
        height: 63vw;
    } 
}

@media (max-width: 288px) {
    .device-preview__list, .device-preview__offers { width: 10vw; }
    .container-categories{
        margin-left: 10vw;
        margin-bottom: 12%;
    }
}

/* FOOTER */
footer{
    background:$color-banner;
    padding:30px;
    color:$color-nav;
    clear: both;
    height: 100px;
}
.footer-sections{
    float: left;
    margin-right: 5%;
}
.footer-socialogin{
    float: left;
    margin-right: 1%;
}

//////////

@media only screen and (max-width : 640px) {
    .nav-item{ display: none; }
    .responsive {
        display: block;
        float: right;
        cursor: pointer;
        z-index: 10;
    }

}

@media only screen and (min-width : 640px) { .spoiler{ display: none;} }

/* Ocultar boton radio */
input[id^="spoiler"]{ display: none; }

/* boton clicable */
input[id^="spoiler"] + label {
    display: block;
    padding: 5px 20px;
    cursor: pointer;
}
/* caja SPOILER (inicialmente oculto) */
input[id^="spoiler"] ~ .spoiler {
    width: 20%;
    float: none;
    height: 0;
    overflow: hidden;
    opacity: 0;
    margin: 0% auto 0;
}
/* caja SPOILER cuando su el input esta seleccionado */
input[id^="spoiler"]:checked + label + .spoiler{
    height: auto;
    opacity: 1;
}
/////////
.device-list__color{ color:$color-black; }
.device-list__price{
    margin-top: 5%;
    background: $color-nav;
    padding: 4%;
    color: $color-white;
}
.device-detail{ 
    list-style: none;
    margin-top: 2.5%;
    margin-left: 8%;
}
.device-detail_list{
    margin-bottom: 12%;
}
.device-media{
   width: 35vw;
   height: 35vw;
}

@media only screen and (max-width : 640px) {
    .device-media{
        width: 60vw;
        height: 60vw;
     }

}

@media only screen and (max-width : 450px) {
    .device-media{
        width: 70vw;
        height: 70vw;
     }

}

.adaptable{
    width: 25vw;
    margin-bottom: 10%;
}

/* forms */
.form-control{
    width: 95vw;
    padding: 1%;
    border-radius: 5%;
    margin-bottom: 2%;
    
}
.form-settings{
    background:  linear-gradient(45deg, rgba(206,219,233,1) 0%,rgba(170,197,222,1) 12%,rgba(97,153,199,1) 20%,rgba(58,132,195,1) 51%,rgba(65,154,214,1) 59%,rgba(75,184,240,1) 71%,rgba(58,139,194,1) 84%,rgba(38,85,139,1) 100%);
    padding: 1%;
}
.input-form{
    width: 75vw;
    padding: 1%;
    margin-bottom: 2%;
    
}