/* colors */
/* GENERAL */
body {
  margin: 0; }

.container-flex {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  padding: 0.5%;
  clear: both; }

/* banner */
.banners {
  background: linear-gradient(45deg, #cedbe9 0%, #aac5de 12%, #6199c7 20%, #3a84c3 51%, #419ad6 59%, #4bb8f0 71%, #3a8bc2 84%, #26558b 100%);
  padding: 100px;
  color: white; }

/* nav menu */
.nav-item {
  list-style: none;
  margin-left: 15px; }

.nav-link {
  outline: none;
  text-decoration: none;
  color: black; }

.nav-link:hover {
  color: #258dc8;
  padding: 6px;
  font-size: 20px;
  transition: 0.7s; }

/* Button */
.button {
  border-radius: 10px;
  background-color: #356aa0;
  color: white;
  font-size: 20px;
  padding: 15px;
  cursor: pointer; }

/* button categories */
.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s; }

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  transition: 2s; }

.button:hover span {
  padding-right: 35px; }

.button:hover span:after {
  opacity: 1;
  right: 0; }

/* container categories */
.container-categories {
  margin-left: 40vw;
  margin-bottom: 2%; }

/* Pagination */
.container-pagination {
  margin-top: 0%; }

.page-item {
  list-style: none;
  margin-left: 0.8%; }

.page-link {
  text-decoration: none;
  box-shadow: 1px 1px 1px 1px grey;
  padding: 35%;
  border-radius: 5px;
  border: none; }

/*.active{
    color: $color-green;
}*/
/* HOME */
.categories {
  margin-left: 10px; }

.container-device {
  margin-left: 15%; }

.device-preview {
  float: left;
  width: 20vw;
  box-shadow: 2px 2px 2px 2px #356aa0;
  margin: 2%;
  border-radius: 5px;
  padding: 10px; }

.device-preview:hover {
  transition: 1s;
  transform: rotate(5deg); }

/* link list device (Link)*/
.preview-link {
  text-decoration: none; }

/* media query device-preview */
@media (max-width: 900px) {
  .device-preview {
    width: 30vw; }
  .container-categories {
    margin-bottom: 5%; } }

@media (max-width: 540px) {
  .device-preview {
    width: 40vw; }
  .container-categories {
    margin-bottom: 5%; } }

@media (max-width: 355px) {
  .device-preview {
    width: 50vw; }
  .container-categories {
    margin-left: 10vw;
    margin-bottom: 12%; } }

.test {
  margin-bottom: 150px; }

/* FOOTER */
footer {
  background: linear-gradient(45deg, #cedbe9 0%, #aac5de 12%, #6199c7 20%, #3a84c3 51%, #419ad6 59%, #4bb8f0 71%, #3a8bc2 84%, #26558b 100%);
  padding: 30px;
  color: white;
  clear: both; }
