/* colors */
/* GENERAL */
body {
  margin: 0; }

.container-flex {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  padding: 0.5%;
  clear: both; }

/* banner */
.banners {
  background: linear-gradient(45deg, #cedbe9 0%, #aac5de 12%, #6199c7 20%, #3a84c3 51%, #419ad6 59%, #4bb8f0 71%, #3a8bc2 84%, #26558b 100%);
  padding: 100px;
  color: white; }

/* nav menu */
.nav-item {
  float: left;
  list-style: none;
  margin-left: 15px; }

.nav-link {
  float: left;
  outline: none;
  text-decoration: none;
  color: black; }

.nav-link:hover {
  color: #258dc8;
  padding: 6px;
  font-size: 20px;
  transition: 0.7s; }

.responsive {
  display: none; }

/* Button */
.button {
  border-radius: 10px;
  background-color: #356aa0;
  color: white;
  font-size: 20px;
  padding: 15px;
  cursor: pointer; }

/* button categories */
.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s; }

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  transition: 2s; }

.button:hover span {
  padding-right: 35px; }

.button:hover span:after {
  opacity: 1;
  right: 0; }

/* container categories */
.container-categories {
  margin-left: 40vw;
  margin-bottom: 2%; }

/* Pagination */
.container-pagination {
  margin-top: 0%; }

.page-item {
  list-style: none;
  margin-left: 0.8%; }

.page-link {
  text-decoration: none;
  box-shadow: 1px 1px 1px 1px grey;
  padding: 35%;
  border-radius: 5px;
  border: none; }

/* HOME */
.categories {
  margin-left: 10px; }

.container-device {
  margin-left: 15%; }

.device-preview-list {
  float: left;
  width: 20vw;
  box-shadow: 2px 2px 2px 2px #356aa0;
  background: white;
  margin: 1%;
  border-radius: 5px;
  padding: 10px; }

.device-preview-offers {
  float: left;
  width: 20vw;
  box-shadow: 2px 2px 2px 2px #356aa0;
  background: linear-gradient(45deg, #cedbe9 0%, #aac5de 12%, #6199c7 20%, #3a84c3 51%, #419ad6 59%, #4bb8f0 71%, #3a8bc2 84%, #26558b 100%);
  margin: 1%;
  border-radius: 5px;
  padding: 10px; }

.device-preview-offers:hover {
  transition: 1s;
  transform: rotate(360deg); }

.device-preview-list:hover {
  animation-duration: 0.5s;
  animation-name: desplazar_box;
  animation-direction: alternate;
  animation-iteration-count: infinite; }

@keyframes desplazar_box {
  from {
    transform: translate(5px); }
  to {
    transform: translate(-5px); } }

/* link list device (Link)*/
.preview-link {
  text-decoration: none; }

/* media query box */
@media (max-width: 900px) {
  .device-preview-list, .device-preview-offers {
    width: 30vw; }
  .container-categories {
    margin-bottom: 5%; } }

@media (max-width: 770px) {
  .device-preview-list, .device-preview-offers {
    width: 25vw; }
  .container-categories {
    margin-left: 28vw;
    margin-bottom: 5%; } }

@media (max-width: 555px) {
  .device-preview-list, .device-preview-offers {
    width: 60vw; }
  .container-categories {
    margin-left: 24vw;
    margin-bottom: 12%; } }

@media (max-width: 418px) {
  .container-categories {
    margin-left: 18vw;
    margin-bottom: 12%; } }

@media (max-width: 288px) {
  .device-preview-list, .device-preview-offers {
    width: 10vw; }
  .container-categories {
    margin-left: 10vw;
    margin-bottom: 12%; } }

/* FOOTER */
footer {
  background: linear-gradient(45deg, #cedbe9 0%, #aac5de 12%, #6199c7 20%, #3a84c3 51%, #419ad6 59%, #4bb8f0 71%, #3a8bc2 84%, #26558b 100%);
  padding: 30px;
  color: white;
  clear: both; }

@media only screen and (max-width: 640px) {
  .nav-item {
    display: none; }
  .responsive {
    display: block;
    float: right;
    cursor: pointer;
    z-index: 10; } }

@media only screen and (min-width: 640px) {
  .spoiler {
    display: none; } }

/* Ocultar boton radio */
input[id^="spoiler"] {
  display: none; }

/* boton clicable */
input[id^="spoiler"] + label {
  display: block;
  /*width: 20px;*/
  padding: 5px 20px;
  cursor: pointer; }

/* caja SPOILER (inicialmente oculto) */
input[id^="spoiler"] ~ .spoiler {
  width: 20%;
  float: none;
  height: 0;
  overflow: hidden;
  opacity: 0;
  margin: 0% auto 0; }

/* caja SPOILER cuando su el input esta seleccionado */
input[id^="spoiler"]:checked + label + .spoiler {
  height: auto;
  opacity: 1; }
