
/* colors */
$color-banner: linear-gradient(45deg, #cedbe9 0%,#aac5de 12%,#6199c7 20%,#3a84c3 51%,#419ad6 59%,#4bb8f0 71%,#3a8bc2 84%,#26558b 100%);
$color-white: white;
$color-black: black;
$color-nav:rgb(37,141,200);
$color-button:rgb(53,106,160);