
/* colors */
$color-banner: linear-gradient(45deg, #cedbe9 0%,#aac5de 12%,#6199c7 20%,#3a84c3 51%,#419ad6 59%,#4bb8f0 71%,#3a8bc2 84%,#26558b 100%);
$color-white: white;
$color-green: green;
$color-black: black;
$color-nav:rgb(37,141,200);
$color-button:rgb(53,106,160);
$color-button-hover:rgb(31, 135, 196);
$color-offers:linear-gradient(45deg, rgba(206,220,231,1) 0%,rgba(89,106,114,1) 100%);
$color-list:linear-gradient(45deg, rgba(207,231,250,1) 0%,rgba(99,147,193,1) 100%);
$color-nav:rgb(44,83,158);