
/* colors */
$color-banner: linear-gradient(45deg, #cedbe9 0%,#aac5de 12%,#6199c7 20%,#3a84c3 51%,#419ad6 59%,#4bb8f0 71%,#3a8bc2 84%,#26558b 100%);
$color-white: white;
$color-green: green;
$color-black: black;
$color-grey: grey;
$color-nav:rgb(37,141,200);
$color-button:rgb(53,106,160);
$color-button-hover:rgb(31, 135, 196);
$color-offers:linear-gradient(45deg, rgba(206,220,231,1) 0%,rgba(89,106,114,1) 100%);
$color-list:linear-gradient(45deg, rgba(207,231,250,1) 0%,rgba(99,147,193,1) 100%);
$color-nav:rgb(44,83,158);
$color-form:linear-gradient(45deg, rgba(206,219,233,1) 0%,rgba(170,197,222,1) 12%,rgba(97,153,199,1) 20%,rgba(58,132,195,1) 51%,rgba(65,154,214,1) 59%,rgba(75,184,240,1) 71%,rgba(58,139,194,1) 84%,rgba(38,85,139,1) 100%);